h1 a, h2 a {
    color: #d9d9d9;
    font-family: 'Coustard';
}

body {
    padding-left: 15px;
    background-image: url("https://image.freepik.com/free-photo/wide-black-wooden-background-old-wooden-planks-texture_88281-3902.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}



.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #bfbfbf;
    font-size: 46pt;
    text-decoration: none;
    padding-left: 25px
}

.content {
    margin-left: 40px;
    color: #bfbfbf;
}

h1, h2, h3, h4 {
    color: #bfbfbf;
    font-family: 'Coustard', cursive;
    font-size: 25pt;
}

.date {
    color: #bfbfbf;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.cv-form textarea, .cv-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #bfbfbf;
    float: right;
    font-size: 36pt;
    margin-right: 25px;
}

.post {
    margin-bottom: 70px;
}

.cv {
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    color: #bfbfbf;
}

.cv h2 a, .cv h2 a:visited {
    color: #bfbfbf;
}
